---
layout: page
title: "About"
description: "我干了什么 究竟拿了时间换了什么"
header-img: "img/about-bg.jpg"
multilingual: true
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}

    <!-- Gitalk 评论 start  -->
    <div id="gitalk-container"></div>
    <!-- Link Gitalk 的支持文件  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>


    <script type="text/javascript">
        var gitalk = new Gitalk({

            clientID: '{{ site.clientID }}',
            clientSecret: '{{ site.clientSecret }}',
            repo: '{{ site.repo }}' , //#存储你评论 issue 的 Github 仓库名（建议直接用 GitHub Page 的仓库名）
            owner: '{{ site.owner }}',
            admin: '{{ site.admin }}', //#这个仓库的管理员，可以有多个，用数组表示，一般写自己,
            id: location.pathname, // #页面的唯一标识，gitalk 会根据这个标识自动创建的issue的标签,我们使用页面的相对路径作为标识
            distractionFreeMode: '{{ site.distractionFreeMode }}'
        });
        gitalk.render('gitalk-container');
    </script>
    <!-- Gitalk end -->
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->



<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
